.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Cole Added CSS */

i {
	font-size: 30px;
	size: 30px;
}


:root {
  --blue: #2A9FD6;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #CC0000;
  --orange: #fd7e14;
  --yellow: #FF8800;
  --green: #77B300;
  --teal: #20c997;
  --cyan: #9933CC;
  --white: #ffff;
  --gray: #555;
  --gray-dark: #222;
  --primary: #2A9FD6;
  --secondary: #555;
  --success: #77B300;
  --info: #9933CC;
  --warning: #FF8800;
  --danger: #CC0000;
  --light: #222;
  --dark: #ADAFAE;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  /* color: #ADAFAE; */
  color: #FFFFFF; 
  text-align: left;
  /* background-color: #060606; */
  background-color: #90EE90;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p, label {
	font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

#me {
	background-color: #FFFFFF;
	color: #00FF00;
	border-radius: 2.5rem;
}

h1 {
	font-size: 10em;
}
h3 {
	font-size: 3em;
}

.Login {
	align: left;
}




button {
  color: white;
  background-color: #90EE90;
  border-color: #white;
  border-radius: 0.5rem;
  
}

button:hover {
  color: #fff;
  background-color: #00FF00;
  border-color: white;
}

button:focus, button.focus {
  color: #fff;
  background-color: #90EE90;
  border-color: #90EE79;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 255, 0, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 255, 0, 0.5);
}

button {
  display: inline-block;
  font-weight: 400;
  /* color: #ADAFAE; */
  color: #90EE90;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: white;
  /* border: 1px solid transparent; */
  border: 3px solid white;
  margin: 0.5em;
  
  padding: 0.375rem 1rem;
  /* font-size: 0.875rem; */
  font-size: 1.5rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  button {
    -webkit-transition: none;
    transition: none;
  }
}

/* CSS for text box*/

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  /* color: #282828; */
  color: #000000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  
}

.form-control2 {
  display: block;
  width: 55%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  /* color: #282828; */
  color: #000000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  /* margin-left: 35em; */
  
}
/* @media (prefers-reduced-motion: reduce) { */
  /* .form-control { */
    /* -webkit-transition: none; */
    /* transition: none; */
  /* } */
/* } */

/* .form-control::-ms-expand { */
  /* background-color: transparent; */
  /* border: 0; */
/* } */

/* .form-control:-moz-focusring { */
  /* color: transparent; */
  /* text-shadow: 0 0 0 #282828; */
/* } */

.form-control:focus {
  color: #282828;
  background-color: #fff;
  border-color: #95cfeb;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(42, 159, 214, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(42, 159, 214, 0.25);
}

.form-control2:focus {
  color: #282828;
  background-color: #fff;
  border-color: #95cfeb;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(42, 159, 214, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(42, 159, 214, 0.25);
}

/* .form-control::-webkit-input-placeholder { */
  /* color: #555; */
  /* opacity: 1; */
/* } */

/* .form-control::-ms-input-placeholder { */
  /* color: #555; */
  /* opacity: 1; */
/* } */

/* .form-control::placeholder { */
  /* color: #555; */
  /* opacity: 1; */
/* } */

/* .form-control:disabled, .form-control[readonly] { */
  /* background-color: #ADAFAE; */
  /* opacity: 1; */
/* } */

/* select.form-control:focus::-ms-value { */
  /* color: #282828; */
  /* background-color: #fff; */
/* } */
a, p {
	font-size: 1.5rem;
	color: #FFFFFF;
}



/* CSS for radio buttons */


.custom-control-input {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.15625rem;
  opacity: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #2A9FD6;
  background-color: #2A9FD6;
}

.custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(42, 159, 214, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(42, 159, 214, 0.25);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #95cfeb;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: #c0e2f3;
  border-color: #c0e2f3;
}

.custom-control-input[disabled] ~ .custom-control-label, .custom-control-input:disabled ~ .custom-control-label {
  color: #555;
}

.custom-control-input[disabled] ~ .custom-control-label::before, .custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #ADAFAE;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  border-color: #2A9FD6;
  background-color: #2A9FD6;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e");
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(42, 159, 214, 0.5);
}

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
  background-color: rgba(42, 159, 214, 0.5);
}

.custom-radio .custom-control-label::before {
  border-radius: 50%;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(42, 159, 214, 0.5);
}