button-group,
.Register {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

button-group > button,
.Register > button {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

button-group > button:hover,
.Register > button:hover {
  z-index: 1;
}

button-group > button:focus, button-group > button:active, button-group > button.active,
.Register > button:focus,
.Register > button:active,
.Register > button.active {
  z-index: 1;
}

.Register {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Register > button,
.Register > button-group {
  width: 100%;
}

.Register > button:not(:first-child),
.Register > button-group:not(:first-child) {
  margin-top: -1px;
}

.Register > button:not(:last-child):not(.dropdown-toggle),
.Register > button-group:not(:last-child) > button {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.Register > button:not(:first-child),
.Register > button-group:not(:first-child) > button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-register {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #90EE90;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  margin: auto;
  
}

.form-register:focus {
  color: #90EE90;
  background-color: #fff;
  border-color: #90EE79;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 255, 0, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 255, 0, 0.5);
}

#listInfo {
	font-size: 1.15rem;
}